//
// Basic typography style for copy text
//

// Headings font-size and line-height
h1,
h2 {
    margin-bottom: $space-l;
    margin-top: initial;
    line-height: 1.1;
}

p {
    @include hyphens();
    font-family: $font-muli;
}

.playfair {
    font-family: $font-playfair;
}
