.card {
    overflow: hidden;
    text-decoration: none;

    &:hover {
        @include transition();

        .card__img {
            border-radius: initial;
        }

        .card__img + .card__title {
            color: $foreground-light;
        }

        .card__time {
            background-color: $background-light;
        }
    }

    &__img {
        border-radius: $border-radius-s;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: inline-block;
        filter: grayscale(25%);
        margin-bottom: $space-xs;
        height: 100%;
        max-height: 15rem;
        position: relative;
        width: 100%;

        @include transition(transform);

        &:hover {
            cursor: pointer;
            filter: initial;
            transform: scale(1.05);
        }
    }

    &__time {
        background-color: $background-darkest;
        bottom: $space-s;
        border-radius: $border-radius-xs;
        color: $color-base-lightest;
        margin-bottom: initial;
        margin-top: initial;
        padding: $space-xxs $space-xs;
        position: absolute;
        right: $space-s;

        @include transition(background-color);
    }

    &__title {
        color: $foreground-darkest;

        @include transition(color);
    }
}
