.header {
    background-color: $background-dark;
    color: $foreground-darkest;
    padding-bottom: $space-m;
    padding-left: $space-l;
    padding-right: $space-l;
    padding-top: $space-m;

    &__link {
        align-items: center;
        color: inherit;
        display: flex;
        text-decoration: none;

        h1 {
            margin-bottom: initial;
        }
    }

    &__img {
        height: $icon-l;
        margin-right: $space-xs;
        width: $icon-l;
    }
}
