.header {
    align-items: center;
    border-bottom: 1px solid currentColor;
    color: $foreground-darkest;
    display: flex;
    justify-content: center;
    margin-bottom: $space-l;
    padding-bottom: $space-m;
    padding-left: $space-l;
    padding-right: $space-l;
    padding-top: $space-m;

    &__link {
        align-items: inherit;
        color: inherit;
        display: inherit;
        text-decoration: none;

        h1 {
            margin-bottom: initial;
        }
    }

    &__img {
        height: $icon-l;
        margin-right: $space-xs;
        width: $icon-l;
    }
}
