// -----------------------------------------------------------------------------
// This file contains the mixin to transition properties on :hover...
// -----------------------------------------------------------------------------

// Transition Mixin
// @params {String} $prop
@mixin transition($prop: all, $prop2: all) {
    transition-duration: $animation-speed;
    transition-property: $prop, $prop2;
    transition-timing-function: $animation-type-cubic;
}

// Usage
// .p {
//     @include transition(transform);
// }
