:root {
    --color-brand-base: rebeccapurple;

    --color-text--color-base-darkest: #1f1f1f;
    --color-base-dark: #262626;
    --color-base-medium: #333333;
    --color-base-light: #808080;
    --color-base-lightest: #efefef;

    --color-brand-teal: rgb(54, 161, 139);
    --color-brand-rhubarb: rgb(203, 124, 122);
    --color-brand-wheat: rgb(205, 163, 95);
    --color-brand-petrol: rgb(38, 102, 120);

    --color-brand-teal-secondary: rgb(202, 215, 202);
    --color-brand-rhubarb-secondary: rgb(229, 195, 199);
    --color-brand-wheat-secondary: rgb(245, 214, 186);
    --color-brand-petrol-secondary: rgb(200, 215, 229);

    --color-brand-teal-light: rgb(228, 242, 239);
    --color-brand-rhubarb-light: rgb(242, 228, 228);
    --color-brand-wheat-light: rgb(242, 233, 218);
    --color-brand-petrol-light: rgb(227, 238, 241);

    --box-shadow-base: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgba(0, 0, 0, 0.15) 0px 5px 10px;
    --box-shadow-hover: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 10px 20px;

    --font-family-heading: 'DM Serif Text', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, serif;
    --font-family-body: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;

    --scale: 1.2;
    --font-base: 90%;
    --space-base: 1rem;

    --space-xxs: calc(var(--space-base) / 8);
    --space-xs: calc(var(--space-base) / 4);
    --space-s: calc(var(--space-base) / 2);
    --space-m: calc(var(--space-base));
    --space-l: calc(var(--space-base) * 2);
    --space-xl: calc(var(--space-base) * 4);
    --space-xxl: calc(var(--space-base) * 8);

    --icon-xxs: 0.125em;
    --icon-xs: 0.25em;
    --icon-s: 0.5em;
    --icon-m: 1em;
    --icon-l: 2em;
    --icon-xl: 4em;
    --icon-xxl: 8em;

    --h6: calc(var(--scale) * var(--font-base));
    --h5: calc(var(--scale) * var(--h6));
    --h4: calc(var(--scale) * var(--h5));
    --h3: calc(var(--scale) * var(--h4));
    --h2: calc(var(--scale) * var(--h3));
    --h1: calc(var(--scale) * var(--h2));

    --transition-timing-function: ease-in;
    --animation-type-cubic-fast: cubic-bezier(0.2, 0.91, 0.85, 0.96);
    --animation-type-cubic: cubic-bezier(0, 0, 0.3, 1);
    --transition-duration-fast: 0.125s;
    --transition-duration-normal: 0.25s;
    --transition-duration-slow: 0.5s;

    --z-index-s: 1;
    --z-index-m: 2;
    --z-index-l: 3;
    --z-index-xl: 4;

    --opacity: 0.25;
    --opacity-hack: 0.99;

    --component-max-with: 768px;
}

@media screen and (min-width: 40em) {
    :root {
        --font-base: 100%;
        --space-base: 1rem;
    }
}

@media screen and (min-width: 80em) {
    :root {
        --font-base: 110%;
        --space-base: 1.1rem;
    }
}

@media screen and (min-width: 160em) {
    :root {
        --font-base: 125%;
        --space-base: 1.2rem;
    }
}

html {
    box-sizing: border-box;
    color: var(--color-base-dark);
    line-height: var(--line-height-s);
}

body {
    margin: 0;
}

*,
*::before,
*:after {
    box-sizing: inherit;
    transition-duration: 0.25s;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    hyphens: auto;
    hyphenate-limit-chars: 6 3 3;
    hyphenate-limit-lines: 2;
    hyphenate-limit-last: always;
    hyphenate-limit-zone: 8%;
}

p {
    font-family: var(--font-family-body);
    font-size: var(--font-base);
    margin-bottom: .5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-heading);
}

h1 {
    font-size: var(--h1);
    margin-bottom: .65em;
}

h2 {
    font-size: var(--h2);
    margin-bottom: .7em;
}

h3 {
    font-size: var(--h3);
    margin-bottom: .75em;
}

h4 {
    font-size: var(--h4);
    margin-bottom: .8em;
}

h5 {
    font-size: var(--h5);
    margin-bottom: .85em;
}

h6 {
    font-size: var(--h6);
    margin-bottom: .9em;
}
