:root {
    --color-base-darkest: #0e0e0e;
    --color-base-dark: #1f1f1f;
    --color-base-medium: #333333;
    --color-base-light: #808080;
    --color-base-lightest: #efefef;

    --color-text: #ffffff;

    --color-brand-primary-dark: #6e2c9f;
    --color-brand-secondary-dark: #d88a00;
    --color-brand-tertiary-dark: #16949e;

    --color-brand-primary-medium: #ca82fb;
    --color-brand-secondary-medium: #ffb22d;
    --color-brand-tertiary-medium: #60cbd4;

    --color-brand-primary-light: #ffddff;
    --color-brand-secondary-light: #ffdc59;
    --color-brand-tertiary-light: #9cffff;

    --box-shadow-base: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgba(0, 0, 0, 0.15) 0px 5px 10px;
    --box-shadow-hover: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 10px 20px;

    --font-family-heading: 'DM Serif Text', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, serif;
    --font-family-body: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;

    --letter-spacing-s: 0.025em;
    --letter-spacing-m: 0.05em;

    --scale: 1.1;
    --heading-scale: 1.5;
    --font-base: 100%;
    --space-base: 1rem;

    --space-xxs: calc(var(--space-base) / 8);
    --space-xs: calc(var(--space-base) / 4);
    --space-s: calc(var(--space-base) / 2);
    --space-m: calc(var(--space-base));
    --space-l: calc(var(--space-base) * 2);
    --space-xl: calc(var(--space-base) * 4);
    --space-xxl: calc(var(--space-base) * 8);

    --margin-h1: .65em;
    --margin-h2: .7em;
    --margin-h3: .75em;
    --margin-h4: .8em;
    --margin-h5: .85em;
    --margin-h6: .9em;

    --icon-xxs: 0.125em;
    --icon-xs: 0.25em;
    --icon-s: 0.5em;
    --icon-m: 1em;
    --icon-l: 2em;
    --icon-xl: 4em;
    --icon-xxl: 8em;

    --h6: calc(var(--scale) * var(--font-base));
    --h5: calc(var(--scale) * var(--h6));
    --h4: calc(var(--scale) * var(--h5));
    --h3: calc(var(--scale) * var(--h4));
    --h2: calc(var(--scale) * var(--h3));
    --h1: calc(var(--scale) * var(--h2));

    --transition-timing-function: ease-in;
    --animation-type-cubic-fast: cubic-bezier(0.2, 0.91, 0.85, 0.96);
    --animation-type-cubic: cubic-bezier(0, 0, 0.3, 1);
    --transition-duration-fast: 0.125s;
    --transition-duration-normal: 0.25s;
    --transition-duration-slow: 0.5s;

    --z-index-s: 1;
    --z-index-m: 2;
    --z-index-l: 3;
    --z-index-xl: 4;

    --opacity: 0.25;
    --opacity-hack: 0.99;
    --border-radius: 6px;

    --component-max-with: 80rem;
}

@media screen and (min-width: 40em) {
    :root {
        --font-base: 105%;
        --space-base: 1rem;
    }
}

@media screen and (min-width: 80em) {
    :root {
        --font-base: 110%;
        --space-base: 1.1rem;
    }
}

@media screen and (min-width: 160em) {
    :root {
        --font-base: 120%;
        --space-base: 1.2rem;
    }
}

html {
    box-sizing: border-box;
    color: var(--color-base-dark);
    font-family: var(--font-family-body);
    line-height: var(--line-height-s);
}

body {
    background-color: var(--color-base-lightest);
    margin: 0;
}

*,
*::before,
*:after {
    box-sizing: inherit;
    transition-duration: 0.25s;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {

    margin-top: 0;
    hyphens: auto;
    hyphenate-limit-chars: 6 3 3;
    hyphenate-limit-lines: 2;
    hyphenate-limit-last: always;
    hyphenate-limit-zone: 8%;
}

p {
    line-height: 1.5;
    font-size: var(--font-base);
    margin-bottom: .5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    font-family: var(--font-family-heading);
}

h1 {
    font-size: var(--h1);
    margin-bottom: var(--margin-h1);
}

p + h1 {
    margin-top: calc(var(--margin-h1) * var(--heading-scale));
}

h2 {
    font-size: var(--h2);
    margin-bottom: var(--margin-h2);
}

p + h2 {
    margin-top: calc(var(--margin-h2) * var(--heading-scale));
}

h3 {
    font-size: var(--h3);
    margin-bottom: var(--margin-h3);
}

p + h3 {
    margin-top: calc(var(--margin-h3) * var(--heading-scale));
}

h4 {
    font-size: var(--h4);
    margin-bottom: var(--margin-h4);
}

p + h4 {
    margin-top: calc(var(--margin-h4) * var(--heading-scale));
}

h5 {
    font-size: var(--h5);
    margin-bottom: var(--margin-h5);
}

p + h5 {
    margin-top: calc(var(--margin-h5) * var(--heading-scale));
}

h6 {
    font-size: var(--h6);
    margin-bottom: var(--margin-h6);
}

p + h6 {
    margin-top: calc(var(--margin-h6) * var(--heading-scale));
}

a {
    color: var(--color-brand-primary-dark);
    text-decoration: none;
    transition: all var(--transition-duration-normal)
    var(--animation-type-cubic-fast);
}

a:hover {
    text-decoration: underline;
}
