:root {
    --color-brand-teal: rgb(54, 161, 139);
    --color-brand-rhubarb: rgb(203, 124, 122);
    --color-brand-wheat: rgb(205, 163, 95);
    --color-brand-petrol: rgb(38, 102, 120);

    --color-brand-teal-secondary: rgb(202, 215, 202);
    --color-brand-rhubarb-secondary: rgb(229, 195, 199);
    --color-brand-wheat-secondary: rgb(245, 214, 186);
    --color-brand-petrol-secondary: rgb(200, 215, 229);

    --color-brand-teal-light: rgb(228, 242, 239);
    --color-brand-rhubarb-light: rgb(242, 228, 228);
    --color-brand-wheat-light: rgb(242, 233, 218);
    --color-brand-petrol-light: rgb(227, 238, 241);

    --scale: 1.2;
    --font-base: 90%;
    --space-base: 1rem;

    --space-xxs: calc(var(--space-base) / 8);
    --space-xs: calc(var(--space-base) / 4);
    --space-s: calc(var(--space-base) / 2);
    --space-m: calc(var(--space-base));
    --space-l: calc(var(--space-base) * 2);
    --space-xl: calc(var(--space-base) * 4);
    --space-xxl: calc(var(--space-base) * 8);

    --icon-xxs: 0.125em;
    --icon-xs: 0.25em;
    --icon-s: 0.5em;
    --icon-m: 1em;
    --icon-l: 2em;
    --icon-xl: 4em;
    --icon-xxl: 8em;

    --h6: calc(var(--scale) * var(--font-base));
    --h5: calc(var(--scale) * var(--h6));
    --h4: calc(var(--scale) * var(--h5));
    --h3: calc(var(--scale) * var(--h4));
    --h2: calc(var(--scale) * var(--h3));
    --h1: calc(var(--scale) * var(--h2));

    --opacity: 0.25;
    --opacity-hack: 0.99;

    --z-index-s: 1;
    --z-index-m: 2;
    --z-index-l: 3;
    --z-index-xl: 4;
}

@media screen and (min-width: 40em) {
    :root {
        --font-base: 100%;
        --space-base: 1rem;
    }
}

@media screen and (min-width: 80em) {
    :root {
        --font-base: 110%;
        --space-base: 1.1rem;
    }
}

@media screen and (min-width: 160em) {
    :root {
        --font-base: 125%;
        --space-base: 1.2rem;
    }
}

html {
    box-sizing: border-box;
    color: var(--color-base-dark);
    line-height: var(--line-height-s);
}

body {
    margin: 0;
}

*,
*::before,
*:after {
    box-sizing: inherit;
    transition-duration: 0.25s;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    hyphens: auto;
    hyphenate-limit-chars: 6 3 3;
    hyphenate-limit-lines: 2;
    hyphenate-limit-last: always;
    hyphenate-limit-zone: 8%;
}

p {
    font-size: var(--font-base);
    margin-bottom: .5em;
    margin-top: .9em;
}

h1 {
    font-size: var(--h1);
    margin-bottom: .65em;
    margin-top: 1.05em;
}

h2 {
    font-size: var(--h2);
    margin-bottom: .7em;
    margin-top: 1.1em;
}

h3 {
    font-size: var(--h3);
    margin-bottom: .75em;
    margin-top: 1.15em;
}

h4 {
    font-size: var(--h4);
    margin-bottom: .8em;
    margin-top: 1.2em;
}

h5 {
    font-size: var(--h5);
    margin-bottom: .85em;
    margin-top: 1.25em;
}

h6 {
    font-size: var(--h6);
    margin-bottom: .9em;
    margin-top: 1.3em;
}
