// $---------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//
// #Colors
//
$color-base-darkest: #141414;
$color-base-dark: #262626;
$color-base-medium: #333333;
$color-base-light: #808080;
$color-base-lightest: #efefef;

$token-lightest: #b9ffb7;
$token-light: #abedc6;
$token-medium: #98d9c2;
$token-dark: #f19a3e;
$token-darkest: #403233;

$foreground-lightest: $token-lightest;
$foreground-light: $token-light;
$foreground-medium: $token-medium;
$foreground-dark: $token-dark;
$foreground-darkest: $token-darkest;

$background-lightest: $token-lightest;
$background-light: $token-light;
$background-medium: $token-medium;
$background-dark: $token-dark;
$background-darkest: $token-darkest;

//
// #Box-Shadow
//
$box-shaodw-s: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
$box-shaodw-m: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
$box-shaodw-l: 0 2px 15px 0 rgba(0, 0, 0, 0.3);

//
// #Animations
//
$animation-speed: 0.25s;
$animation-type-in: ease-in;
$animation-type-cubic: cubic-bezier(0, 0, 0.3, 1);

//
// #Fonts
//
$font-family-body-fallback: Arial, sans-serif;
$font-family-title-fallback: Georgia, sans-serif;
$font-family-body-regular: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
$font-family-title: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, serif;

//
// #Font-Weight
//
$font-weight-thin: 100;
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;

//
// #Scale
//
$scale: 1.25;

//
// #Font-Size
//
$font-base: 1rem; // 16px
$letter-spacing: 0.05em;
$line-height: 1.4;

//
// #Space Sizes
//
$space-xxs: $font-base / 8; // 2px
$space-xs: $font-base / 4; // 4px
$space-s: $font-base / 2; // 8px
$space-m: $font-base; // 16px
$space-l: $font-base * 2; // 32px
$space-xl: $font-base * 4; // 64px
$space-xxl: $font-base * 8; // 128px

//
// #Border-Radius Sizes
//
$border-radius-xxs: $space-xxs; // 2px
$border-radius-xs: $space-xs; // 4px
$border-radius-s: $space-s; // 8px
$border-radius-m: $space-m; // 16px
$border-radius-l: $space-l; // 32px
$border-radius-xl: $space-xl; // 64px
$border-radius-xxl: $space-xxl; // 128px

// #Icon Sizes
$icon-xxs: 0.125em; // 2px
$icon-xs: 0.25em; // 4px
$icon-s: 0.5em; // 8px
$icon-m: 1em; // 16px
$icon-l: 2em; // 32px
$icon-xl: 4em; // 64px
$icon-xxl: 8em; // 128px

//
// #Media-Queries
//
$mq-s: 38.75em; // 620px
$mq-m: 48em; // 768px

//
// #Opacity
//
$opacity: 0.5;
$opacity-hack: 0.99;

//
// #Z-Index
//
$z-index-s: 1;
$z-index-m: 2;
$z-index-l: 3;
$z-index-xl: 4;
